#table{
    border: 1px solid black;
    padding:2px 3px;
    border-collapse: collapse; 
    font:center;}
.tableClass1{
    border: 1px solid black;
    padding:2px 3px;
    border-collapse: collapse; 

}
     